@model PostOffice.ViewModels.ViewModel
@{
    ViewData["Title"] = "Home";
}
<div>
    <div class="sidebar">
        <div>
            <b>Select Account</b>
            <ul class="list-group">
                @foreach (var item in Model.accounts)
                {
                    <li class="list-group-item account" id='@item.Id'>@Html.DisplayFor(modelItem => item.Label)</li>
                }
            </ul>
        </div>
    </div>
    <div class="post-container">
        <div class="toolbar">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active" id="hide-posted">
                    <input type="radio" name="options" autocomplete="off" checked> Hide Posted
                </label>
                <label class="btn btn-primary" id="show-posted">
                    <input type="radio" name="options" autocomplete="off"> Show Posted
                </label>
            </div>
            <span class="filter middle">
                <input type="text" id="filter" onkeyup="filter()" size="35" placeholder="Filter by copy text or tag...">
            </span>
        </div>

        @foreach (var item in Model.postItems)
        {
            <div class="post-item">
                <span class="url"><a href='@Html.DisplayFor(modelItem => item.Url)'>@Html.DisplayFor(modelItem => item.Url)</a></span>
                <div class="copy-list-header">Available Copy:</div>
                <ul class="list-group">
                    @foreach (var copy in item.Copy)
                    {
                        <li class="list-group-item filterable" id='@("copy"+copy.Id)'>
                            <div class="multi-line">
                                @Html.DisplayFor(modelItem => copy.Text)
                            </div>
                            <div class="tags">
                                <div class="tagList" id='@("tagList"+copy.Id)'>
                                    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalTag" data-copy-id="@copy.Id">+ Tag</a>
                                    @foreach (var tag in copy.Tags)
                                    {
                                    <span class="tag"><span id='@("tag"+tag.Id)'>@Html.DisplayFor(modelItem => tag.Label)</span><span class="tagX" id='@("tagX"+tag.Id)'>&nbsp;&nbsp;x</span></span>
                                    }
                                </div>
                            </div>
                            <div class="posted">
                                <span><input type="checkbox" id='@copy.Id' class="middle posted-checkbox" /><span class="middle down">Posted for selected account</span></span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="end-message">End of available posts!</div>
    </div>
    <div class="modal fade" id="modalTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">New Tag</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="orangeForm-name">Tag Label</label>
                        <input type="text" id="tagLabelInput" class="form-control validate">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-deep-orange" id="createTag">Create</button>
                </div>
                <span class="hidden" id="copyId"></span>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/home.js"></script>
}