@model PostOffice.ViewModels.ViewModel
@{
    ViewData["Title"] = "Home";
}
<div>
    <div class="sidebar">
        <div>
            <b>Select Account</b>
            <ul class="list-group">
                @foreach (var item in Model.accounts)
                {
                    <li class="list-group-item account" id='@item.Id'>@Html.DisplayFor(modelItem => item.Label)</li>
                }
            </ul>
        </div>
    </div>
    <div class="post-container">
        <div class="buttons">
            <button type="button" id="show-posted">Show Posted</button>
        </div>
        @foreach (var item in Model.postItems)
        {
            <div class="post-item">
                <span class="url"><a href='@Html.DisplayFor(modelItem => item.Url)'>@Html.DisplayFor(modelItem => item.Url)</a></span>
                <div class="copy-list-header">Available Copy:</div>
                <ul class="list-group">
                    @foreach (var copy in item.Copy)
                    {
                        <li class="list-group-item">
                            "@Html.DisplayFor(modelItem => copy.Text)"
                            <div>
                                @foreach (var tag in copy.Tags)
                                {
                                    <span class="tag">@Html.DisplayFor(modelItem => tag.Label)</span>
                                }
                            </div>
                            <div class="posted">
                                <span><input type="checkbox" id='@copy.Id' class="middle posted-checkbox" /><span class="middle down">Posted for selected account</span></span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        <div class="end-message">End of available posts!</div>
    </div>

</div>

@section scripts {
    <script src="~/js/home.js"></script>
}